.faq-title-container {
  margin-bottom: 15px;
}
.faq-title {
  font-size: 20px;
  font-weight: bolder;
  color: rgb(100, 98, 98);
  margin: 20px;
}

.faq-item-container {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  padding: 16px;
  margin-bottom: 10px;
  display: flex;
}

.title-list-item {
  font-size: 14px;
  color: rgb(126, 124, 124);
  font-weight: bold;
}

.route-footer {
  height: 70px;
  width: 100%;
  background-color: #fff;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-text{
  font-size: 20px;
  color: #fff;
  background-color: #00e6c3;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 40px;
}
